body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}

header {
    
	background-color: #fff;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 50px;
}

.logo {
	color: #007bff;
	font-size: 2rem;
	text-decoration: none;
}

nav ul {
	display: flex;
	list-style: none;
}

nav li {
	margin-left: 40px;
}

nav a {
	color: #333;
	text-decoration: none;
}

nav a:hover {
	color: #007bff;
}
p {
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    justify-content: center;
}

.logo img {
	height: 40px;
	width: auto;
  }  

#room__lobby__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
}

#form__container {
    width: 400px;
    background-color: transparent;
    border-radius: 5px;
    
}

#form__container__header {
    padding: 20px;
    background-color: #007bff;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

#lobby__form {
    padding: 20px;
    background-color: rgba(72, 75, 80, 0.112);
}

.form__field__wrapper {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}

input[type="text"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(72, 75, 80, 0.112);
    color: white;
    
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0077be;
}

footer {
	background-color: #1E90FF;
	color: #fff;
	padding: 20px 0;
	text-align: center;
	margin-top: 50px;
}

footer p {
	font-size: 18px;
}
